{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<p class="text-start mb-2 brand-font">
  <a href="{% url 'home' %}">{% trans "Home" %}</a> > {% trans "Services" %}
</p>
<div class="container py-5">
  <div class="row g-4">
    {% for obj in services %}
    <div class="col-md-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ obj.title}} - {{ obj.price}} €</h5>
          <p class="card-text">{{ obj.content}}</p> 
          <a class="btn bg-primary-subtle text-end" href="#" data-bs-toggle="modal" data-id="{{ obj.title}}"  data-bs-target="#mservice">{% trans "Booking" %}</a>
          <!-- Modal -->
          <div class="modal fade" id="mservice" tabindex="-1" aria-labelledby="mserviceLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="inputNLabel">{% trans "Book an appointment" %}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label  class="form-label" for="phone">{% trans "Phone number" %}</label>
                      <input class="form-control" type="tel" id="phone" name="phone"
                            maxlength ="10"
                            pattern="[0-9]{10}"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                            required>
                    </div>
                    <div class="mb-3">
                      <label for="ControlInput1" class="form-label">{% trans "Email address" %}</label>
                      <input type="email" class="form-control" id="ControlInput1" name="email" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                      <label for="service2" class="form-label">{% trans "Service" %}</label>
                      <select id="service2" name="service2" class="form-select w-auto">
                          <option id="ServiceId" value=""></option>                        
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="date" class="form-label">{% trans "Select Date" %}</label>
                      <input type="date" class="form-control" id="date" name="date">
                    </div>
                    <div class="mb-3">
                      <label for="appointment" class="form-label">{% trans "Select time" %}</label>
                      <input
                      type="time"
                      class="form-control"
                      id="appointment"
                      name="appointment"
                      min="09:30"
                      max="17:00"
                      required />
                    </div>
                    <div class="mb-3">
                      <label for="ControlTextarea1" class="form-label">Message</label>
                      <textarea class="form-control" id="ControlTextarea1" name="msg" rows="3"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-light" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                      <button type="submit" class="btn bg-primary-subtle" data-bs-theme="light">{% trans "Send" %}</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col-md-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{% trans "No feature yet" %}</h5>
          <p class="card-text">{% trans "Patience" %}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  $('#mservice').on('show.bs.modal', function (event) {
    const button = $(event.relatedTarget);
    const serviceTitle = button.data('id');
    var select = $(this).find('#service2');
    select.find('#ServiceId').val(serviceTitle).text(serviceTitle);
  });
</script>
{% endblock %}